:root {
  --mainC: #6400FF;
  --mainCofC: #FF0000;
  --mainCofe: #00FF78D1;
}

body {
  text-align: center;
}

.all {
  font-size: 15pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: solid 3px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 20px;
  background: #00000021
}

.btn {
  font-size: 25px;
  padding: 15px 20px;
  margin: 1.5px 1px;
  border-radius: 20px;
  outline: none;
  border: solid 2px black;
  font-family: monospace;
  background: linear-gradient(#9A9A9A, #FFFFFF);
  transition: transform .11s linear;
}

.display {
  font-size: 35px;
  padding: 10px 5px;
  width: 230px;
  text-align: right;
  border-radius: 20px;
  border: solid 2px black;
  font-family: monospace;
  color: var(--mainC);
  letter-spacing: -3.5px;
  outline: none;
  background: linear-gradient(#CACACA, #ffffff, #ffffff, #ffffff, #ffffff, #CACACA);
}

.obtn {
  background: linear-gradient(var(--mainC), #DD00BB);
  color: white;
}

.cbtn {
  background: linear-gradient(var(--mainCofC), #FFDB00);
  color: white;
}

.ebtn {
  background: linear-gradient(var(--mainCofe), #92DBFF);
  padding: 15px 52.5px;
  border-radius: 200px;
}

.display:hover {
  animation: danimation .2s linear forwards;
}

@keyframes danimation {
  to {
    transform: scale(1.06);
  }
}


.btn:hover {
  transform: scale(1.12);
}

.tbtn {
  height: 35px;
  width: 35px;
  border-radius: 200px;
}
